<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.HouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yx.model.Logistics">
                <id column="id" property="id"/>
                <result column="log_no" property="logNo"/>
                <result column="type_id" property="typeId"/>
                <result column="driver_name" property="driverName"/>
                <result column="start_place" property="startPlace"/>
                <result column="end_place" property="endPlace"/>
                <result column="depart_time" property="departTime"/>
                <result column="create_by" property="createBy"/>
                <result column="create_time" property="createTime"/>
                <result column="update_by" property="updateBy"/>
                <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, log_no, type_id, driver_name, start_place, end_place, depart_time, create_by, create_time, update_by, update_time
    </sql>

    <select id="findLogisticsAll" parameterType="string" resultType="com.yx.model.Logistics">
        select
            *,
            t.type_name TypeName,
            cu.username createByName,
            uu.username updateByName
        from logistics l
        left join car_type t on t.type_id = l.type_id
        left join tb_user cu on cu.id = l.create_by
        left join tb_user uu on uu.id = l.update_by
        <where>
            <if test="logNo!=null and logNo!=''">
                 and log_no like '%${logNo}%'
            </if>
            <if test="departTime!=null and departTime!=''">
                <![CDATA[
                    and DATE_FORMAT(depart_time, '%Y-%m-%d') = #{departTime}
                ]]>
            </if>
        </where>
        order by l.id desc
    </select>

</mapper>